extends layout

block content

	.container
		h1 Democracy
			small -by Murica
		blockquote.pull-left
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				small barak osama
		#algo(style="color: #0A2A0A;")
			table(class="table table-bordered table-hover", background="/images/images.jpg")
				tr
					td Democracia
				tr
					td #
					td Cantidad de democaria
					td Tipo de democria
					td Lugar de democracia			 	
				tr
					td 1
					td 80 toneladas
					td tanque
					td Mexico			 	
				tr
					td 2
					td 42 toneladas
					td Helicoptero apache
					td Africa occidental de los indios cheroke			 	
				tr
					td 3
					td .003 toneladas
					td triciclo
					td PUeblo temacacualcoquinsini
				tr
					td 4
					td .00065 toneladas
					td Casio 991 fxES 1080p 4k full hd 1 link
					td Batiz
				tr
					td 5
					td .051 toneladas
					td otra cosa
					td La neta no se donde, puede que sea tu casa :o
				tr
					td 6
					td necesito mas pendejadas
					td para que la imagen se vea
					td completa y se aprecie la leyenda
				tr
					td 7
					td me da hueva editar la imagen
					td es mas facil copiar y pegar
					td seguramente hay algo en bootstap que lo soluciona
				tr
					td 8
					td la pizza de don cangrejo
					td es la mejor
					td para ti para mi
				tr
					td 9
					td YOLO
					td SWAG
					td XD
				tr
					td 10
					td Ya
					td casi
					td se ve
				tr
					td 10
					td YAY
					td ya se ve
					td la imagen completa
			p(class="lead, text-center") HOALSAOIDNSOABDSAOBDasssssssssssssssssssssssssss
		img.img-rounded( src="/images/democracy.jpg" )